.DS_Store
*.pyc
__pycache__/

# Data
data/
data_AVT/
data_dongyang/
*.nrrd

# Python virtual environment directories
.macvenv/
.venv/

# Temporary files
main1.py
main_PNG.py
training.ipynb
cuda_checking.ipynb

# Logs
runs/
results/